.about-service:nth-of-type(1) {
  padding: 3rem 2rem;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5rem;
  margin-bottom: 20px;
}

.about-service:nth-of-type(2) {
  padding: 3rem 2rem;
  background-color: #7dcfb6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5rem;
  margin-bottom: 20px;
}

.about-content {
  text-align: left;
}

.useravatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 668px) {
  .services-center3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }

  .image-link {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
  }

  .recipe_buttons::after {
    display: none;
  }
}

@media (min-width: 1200px) {
  .services-center3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .image-link {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
  }

  .recipe_buttons::after {
    display: none;
  }
}
